.sprayModal {
    position: fixed;
    inset: 0px;
    background: rgb(255, 255, 255);
    z-index: 1000;
    display: flex;
    flex-direction: row;
}

.modalVideoContainer {
    flex: 1 0 600px;
    max-width: 100%;
    background: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    padding: 0px 80px;
}

.blurBackround {
    position: absolute;
    width: 10%;
    height: 10%;
    filter: blur(2px);
    left: 50%;
    top: 50%;
    transform: scale(11);
    opacity: 0.3;
    background: center center / cover no-repeat
}

.modalVideoWrapper {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.modalVideoInnerWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgba(22, 24, 35, 0.06);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerWrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.control.close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(84, 84, 84, 0.5);
    border-radius: 50%;
    cursor: pointer;
    border: medium;
    outline: none;
    width: 40px;
    height: 40px;
    top: 20px;
    transition: opacity 0.3s ease 0s;
    z-index: 100;
    transform: translateY(0px);
    left: 20px;
}

.modalContentContainer {
    flex: 0 0 544px;
    width: 544px;
    display: flex;
    flex-direction: column;
    padding: 24px 0px 0px;
}

.modalDescContentWrapper {
    background: rgba(22, 24, 35, 0.03);
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 16px;
}

.modalInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-bottom: 15px;
    position: relative;
}

.modalAvatarContainer {
    flex: 0 0 40px;
    cursor: pointer;
    margin-right: 12px;
}

.sprayModal .avartarContainer {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.sprayModal .avartarWrapper {
    width: 40px;
    height: 40px;
}

.nameContainer {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 1 auto;
    cursor: pointer;
    margin-right: 12px;
}

.modalUsername {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.028px;
}

.modalNickname {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.093px;
    display: flex;
    align-items: center;
}

.modalDescContainer {
    overflow: visible;
    display: flex;
    flex-direction: column;
}

.descWrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: unset;
}

.descText {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.descText::before {
    content: "";
    height: calc(100% - 21px);
    float: right;
    width: 0px;
    margin-top: 0px;
}

.descRealText {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03px;
    word-break: break-word;
}

.modalMainContainer {
    overflow: visible;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0px 20px;
}

div.modalNumber {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 11px;
}

.modalNumberWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button.modalNumber {
    border: medium;
    background: rgba(22, 24, 35, 0.06);
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    border-radius: 40px;
    padding: 8px 12px;
    height: 40px;
}

.modalSpanIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    border-radius: 50%;
    transition: all 200ms ease-in-out 0s;
    margin-right: 8px;
}

button.modalNumber strong {
    color: rgba(22, 24, 35, .75);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.161px;
    text-align: center;
}

.modalTabContainer {
    padding-top: 18px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modalTabItem {
    color: rgb(22, 24, 35);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.093px;
    overflow: auto;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
}

.tabBorder {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -1px;
}

.modalCommentContainer {
    width: 100%;
    box-sizing: border-box;
    border-top: medium;
    border-bottom: 1px solid rgba(22, 24, 35, 0.2);
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.modalCommentListContainer {
    width: 100%;
    overflow: hidden auto;
    flex-grow: 1;
    position: relative;
    padding: 24px
}

.modalBottomCommentContainer {
    flex: 0 0 auto;
    background-color: rgb(255, 255, 255);
    margin: 0px 30px;
    padding: 21px 0px;
}

.modalBottomInnerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottomInputAreaContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: rgba(22, 24, 35, 0.06);
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0px 9px;
}

.textAreaWrapper {
    flex: 1 1 auto;
    height: auto;
}

.bottomInputAreaContainer textarea {
    background: rgba(22, 24, 35, 0);
    caret-color: rgb(254, 44, 85);
    color: rgb(22, 24, 35);
    outline: none;
    border: medium;
    box-sizing: border-box;
    resize: none;
    letter-spacing: 0.093px;
    min-height: 17px;
    max-height: 68px;
    word-break: break-all;
    overflow-y: auto;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    padding-top: 10px
}

.bottomInputButton {
    color: rgb(254, 44, 85);
    font-weight: 600;
    letter-spacing: 0.093px;
    cursor: pointer;
    flex: 0 0 48px;
    font-size: 14px;
    line-height: 39px;
    text-align: right;
    margin-right: 4px;
    border: none;
    background-color: rgba(255,255,255);

}

.bottomInputButton:disabled {
    color: rgba(22, 24, 35, 0.34);
    cursor: default;
}

.emptyComment {
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.093px;
    margin-top: 0px;
    width: 100%;
    padding: 0px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}