canvas {
    border: 1px solid black;
}

#permCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#tempCanvas {
    z-index: -1;
}

.canvasContainer {
    position: relative;
}