.colorSelector {
    width: min-content;
    display: grid;
    grid-template-areas: 
        'black darkgray blue'
        'white silver cyan'
        'pine burgundy brown'
        'green red orange'
        'gold plum coral'
        'yellow pink beige';
    gap: 7px;
    background-color: #942740;
    padding: 10px;
    border-radius: 10px;
}

.colorContainer {
    width: 55px;
    height: 55px;
}

.colorContainer:hover {
    cursor: pointer;
}

.colorContainer.active {
    grid-area: current;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(255, 255, 255, 1);
    border-radius: 5px;
} 

.colorSelector > div {
    border: 2px solid white;
    border-radius: 10px;
}