.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    margin-top: 60px;
    display: flex;
    width: 100vw;
    max-width: 100%;
    justify-content: space-between;
    align-self: center;
    flex: 1 1 auto;
}

/*.mainContent {
    position: relative;
    margin: 0px auto;
    width: 100%;
    min-width: 420px;
    flex-shrink: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}*/

.mainContent {
    display: flex;
    width: 100vw;
    max-width: 100%;
    -moz-box-pack: justify;
    justify-content: space-between;
    align-self: center;
    flex: 1 1 auto;
}